<div class="header">
	<div class="left">
		<img src="./../assets/logo.png" class="logo">
		<h3>Residential</h3>
		<h4>Doors</h4>
		<img src="./../assets/residential-doors-logo.png" style="width: 7%">
	</div>
	
	<div class="right">
		<h3>Amount</h3>
		<div *ngIf="invoiceData?.doorType.name != undefined">
			<div class="left-align-div">{{invoiceData?.doorType.name}}
			</div>
			<div class="right-align-div">{{invoiceData?.doorType.price}}</div>
		</div>
		<div *ngIf="invoiceData?.lookType.name != undefined">
			<div class="left-align-div">{{invoiceData?.lookType.name}}
			</div>
			<div class="right-align-div">{{invoiceData?.lookType.price}}</div>
		</div>
		<div *ngIf="invoiceData?.design.name != undefined">
			<div class="left-align-div">{{invoiceData?.design.name}}
			</div>
			<div class="right-align-div">{{invoiceData?.design.price}}</div>
		</div>
		<div *ngIf="invoiceData?.infills.name != undefined">
			<div class="left-align-div">{{invoiceData?.infills.name}}
			</div>
			<div class="right-align-div">{{invoiceData?.infills.price}}</div>
		</div>
		<div *ngIf="invoiceData?.accessories.name != undefined">
			<div class="left-align-div">{{invoiceData?.accessories.name}}
			</div>
			<div class="right-align-div">{{invoiceData?.accessories.price}}</div>
		</div>
		<div *ngIf="invoiceData?.accessories.name != undefined || invoiceData?.infills.name != undefined ||  invoiceData?.design.name != undefined || invoiceData?.lookType.name != undefined || invoiceData?.doorType.name != undefined">
			<div class="left-align-div">Total Cost
			</div>
			<div class="right-align-div">{{invoiceData?.accessories.price+invoiceData?.infills.price+invoiceData?.design.price+invoiceData?.lookType.price+invoiceData?.doorType.price}}</div>
		</div>
	</div>
</div>
