.main{
	margin-top: 200px;	
	background-color: #563dfed1;
	padding-bottom: 3%;
}
h3{
	text-align: center;
}
.doorTypeImg{
	    width: 75px;
    display: block;
    margin: auto;
}
.wood_div{
	display: inline-block; 
	width: 25%;
}
.coloured_div{
	display: inline-block;
	width: inherit;
	margin: 0 4%;
}
.design_div{
	display: inline-block; 
	width: 16%;
}
.wood_div img, .coloured_div img{
	    margin: auto;
    display: block;
    border-radius: 999px;
}
.design_div img{
	margin: auto;
	display: block;
	border-radius: 5px;
}

img:hover{
	box-shadow: 1px 1px 4px 4px lightskyblue;
}

.img-shadow{
	box-shadow: 1px 1px 4px 4px lightskyblue;
}
